<script src="/../public/js/jquery-3.2.1.js"></script>
<script src="/../public/js/bootstrap.min.js"></script>
<script src="/../public/js/jquery.slidedrawer.min.js"></script>
<script src="/../public/js/examengine.js"></script>
<!--<script src="/../public/js/jquery.screwdefaultbuttonsV2.min.js"></script>-->
<script src="/../public/js/jquery-confirm.min.js"></script>
<script src="/../public/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/../public/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/../public/js/jquery.sidebar.js"></script>
<script type="text/javascript" src="/../public/js/jquery.fullscreen.min.js"></script>