<link rel="stylesheet" type="text/css" href="/../public/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/../public/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/../public/css/jquery.slidedrawer.min.css">
<link rel="stylesheet" type="text/css" href="/../public/css/jquery-confirm.min.css">
<link rel="stylesheet" type="text/css" href="/../public/css/owl.carousel.min.css">
<link rel="stylesheet" type="text/css" href="/../public/css/owl.theme.default.min.css">
<link rel="stylesheet" type="text/css" href="/../public/css/blue-glass/sidebar.css">


<style type="text/css">
/*	.ibox{
		border-radius: 3px;
		border:1px solid lightblue;
		border-top:3px solid blue;
		padding:5px;
		margin:3px;
	}*/
	.row{
		margin:0;
		padding: 3px;
	}
</style>